.BoxContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: solid 2mm black;
    
}

#box{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: solid 2mm black;
}
